{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    },
    "server": {
      "presets": ["env"]
    },
    "server:production": {
      "presets": ["env"],
      "plugins": [
        ["transform-define", {
          "process.env.NODE_ENV": "production"
        }]
      ]
    }
  }
}
